body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /* background: linear-gradient(135deg, #abbaab,#ffffff); */
    background: linear-gradient(135deg, #70868d, #ffffff);
    backdrop-filter: blur(10px);
    overflow: hidden;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

.keyboard {
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-end;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 8px 8px;
    box-shadow: 4px 4px 10px rgba(122, 119, 119, 0.5);
    background-color: #f7f7f7
}

.keys {
    /* width: max-content; */
    display: flex;
    flex-flow: row;
    border-radius: 10px;

}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid #3333;
    width: max-content;
    height: max-content;
    /* max-width: 45px; */
    font-family: sans-serif;
    /* color: rgba(8, 157, 243, 0.5), */
    border-radius: 8px;
    margin: 2px;
    box-shadow: 4px 4px 10px rgba(122, 119, 119, 0.5);
    font-size: 20px;
    font-weight: 550;
    background-color: #fff;
    padding: 15px 30px;
    font-size: 20px;
}

#changeField {
    padding-left: 30px;
    padding-right: 25px;
}

.long-keys {
    width: max-content;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

#shift {
    padding-left: 105px;
    min-width: 61px;

}

#shift1 {
    padding-right: 105px;
    min-width: 61px;

}

#enter {
    padding-left: 40px;
    min-width: 60px;

}

#space {
    width: 300px;
    box-sizing: border-box;
}

#caps {
    padding-right: 40px;
    min-width: 80px;
    padding-left: 20px;
}

#tab {
    padding-right: 38px;
    padding-left: 22px;
}

#back {
    padding-left: 70px;
    padding-right: 8px;
}

.mail {
    margin-left: 40px;
}

.email-container {
    margin-top: 30px;
    border: 1px solid #000;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    width: 100%;
    min-width: 600px;
    flex-direction: column;
}

.email-container .textarea {
    width: max-content
}

#small-key {
    max-width: 50px !important;
}

.email-head {
    width: 100%;
    background-color: #f2f6fc;
    padding: 10px;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.head-images {
    display: flex;
}

.head-images img {
    width: 20px;
    height: 20px;
}

.email-head span {
    padding: 20px;
}

.toInput {
    background-color: #fffefe;
    margin: 10px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #bebaba;
}

.toInput input {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    border: none;
    outline: none;
}

.toInput span {
    font-family: sans-serif;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.Subject {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid #bebaba;
    font-family: sans-serif;
}

.Subject input {
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    border: none;
    outline: none;
}

.email-text {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.email-text textarea {
    outline: none;
    border: none;
    resize: none;
}

.mouseclick {
    margin-top: 30px;
    align-items: center !important;
    justify-content: center !important;
    display: flex;
    padding: 10px;
    border: 1px solid;
    border-radius: 10%;
    background-color: #f2f6fc;
    width: 200px;
    margin-left: 50px;
}

.mouseclick button {
    padding: 40px 30px;
    border-radius: 10px;
    border: none;
    border: 2px solid;
    font-size: 20px;
    font-weight: 600;
    background-color: hsl(219, 22%, 82%);
    width: 200px;
    background-color: #b4bbbd;
}

.special-keyboard {
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 5px;
    border: 3px solid #fff;
    box-shadow: 4px 4px 10px rgba(122, 119, 119, 0.5);
}

.Special-keys {
    display: flex;
    flex-flow: row;
    border-radius: 50px;
}


.all-keyboards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#Send-key {
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    padding: 0 0px;
    background-color: #252525;
    color: #fff !important;
    padding: 15px 30px;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px 0;
    margin-right: 20px;
    /* overflow: hidden; */
}

.instructions {
    /* left: 3%; */
    display: flex;
    flex-direction: column;
    /* top: 7%; */
    border: 1px solid;
    padding: 20px;
    width: 450px;
    margin-left: 30PX;
    height: fit-content;
}

.instructions h2 {
    font-family: sans-serif;
    margin: 0;
    font-size: 24px;
    text-decoration: underline;
}

.instructions ol {
    padding: 10px;
    margin: 0;
}

.instructions li {
    margin: 5px 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
}

.instructions span {
    font-size: bold;
    font-size: 18px;
    font-weight: 600;
}

.credits {
    position: absolute;
    right: 5%;
    bottom: 7%;
}

.credits ol {
    margin: 0;
    /* padding: 0; */
}

.credits a {
    color: #000;
}

.credits a:hover {
    color: blue;
}

.instruction-small {
    display: none;
}

.mouseclick {
    width: 130px;
    margin-left: 50px;
}

.mouseclick button {
  
    width: 130px;
    background-color: #b4bbbd;
}

@media screen and (max-width:1180px) {

    .container {
        align-items: flex-start;
    }

    .mail {
        margin-left: 18px;
        width: 98%;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
    }

    .email-container {
        margin: auto;
        width: max-content;
    }

    .instructions {
        display: none;

    }

    .instruction-small {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 55px;
        border: 1px solid;
        left: 10px;
        width: 35%;

    }

    .instruction-small h2 {
        margin: 0;
        padding-left: 10px;
    }

    .instruction-small ol {
        overflow: hidden;
        gap: 30px;
    }

    .instructions-small ol li {
        width: max-content;
        font-size: 16px;
    }

    .instruction-small ol span {
        width: max-content !important;
        font-size: 18px;
    }

    .top {
        display: flex;
    }

    .key {
        padding: 10px 20px;
        font-size: 18px;
    }

    #changeField {
        padding-left: 20px;
        padding-right: 20px;
    }

    .long-keys {
        width: max-content;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #shift {
        padding-left: 105px;
        min-width: 61px;

    }

    #shift1 {
        padding-right: 105px;
        min-width: 61px;

    }

    #enter {
        padding-left: 23px;
        /* min-width: 60px; */
    }

    #space {
        width: 230px;
        box-sizing: border-box;
    }

    #caps {
        padding-right: 28px;
        min-width: 80px;
        padding-left: 20px;
    }

    #tab {
        padding-right: 43px;
        padding-left: 22px;
    }

    #back {
        padding-left: 53px;
        padding-right: 8px;
    }

    #Send-key {
        background-color: #252525;
        color: #fff !important;
        padding: 10px 30px;
    }

    .all-keyboards {
        width: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding-top: 20px;
    }

    .keyboard {
        align-items: center;
    }

    .mouse {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .keys {
        display: flex;
        /* flex-wrap: wrap; */
        width: 100%;
        max-width: 855.8px;
        justify-content: space-between;
    }

    .keyboard {
        /* width: 500px; */
    }

    .key {
        margin: 0;
    }
    .email-container {
        min-width: 500px;

    }
    .instruction-small h2 {
        font-family: sans-serif;

    }
}

@media screen and (max-width:860px) {
    .keys {
        display: flex;
        /* flex-wrap: wrap; */
        /* background-color: #087799; */
    }


    #enter {
        padding-left: 5px;
        /* min-width: 60px; */
        padding-right: 5px;
    }

    #space {
        width: 200px;
        box-sizing: border-box;
    }

    #caps {
        padding-right: 8px;
        /* min-width: 80px; */
        padding-left: 0px;
    }

    #tab {
        padding-right: 9px;
        padding-left: 12px;
    }

    #back {
        padding-left: 10px !important;
        padding-right: 8px;
    }

    #Send-key {
        background-color: #252525;
        color: #fff !important;
        padding: 6px 15px;
    }

    .key {
        font-size: 14px;
        /* padding: 5; */
        padding: 7px 15px;
    }

    .keys {
        max-width: 650px;
    }

    #changeField {
        padding-left: 5px;
        padding-right: 5px;
        width: max-content;
    }

    .mail {
        width: 100%;
        margin-left: 0;
    }

    .top {
        box-sizing: border-box;
    }

    .keyboard {
        padding: 5px;
    }

    .instruction-small ol {
        padding-left: 24px;
    }

    .instruction-small ol li {
        font-size: 15px;
        padding: 3px 0;
    }

    .instruction-small ol li span {
        font-size: 15px;
        font-weight: bold;
    }

    .instruction-small h2 {
        font-family: sans-serif;

    }
    .email-container {
        min-width: 500px;

    }
}